<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<B>Objectives:<B>
* List popular languages for Data Science
* Common libraries in Data Science
* Some tools used in Data Science
* Some arithmetic expression evaluation using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. ggplot

| Data Science Tools |
|--------------------|
| Tensorflow |
| Apache Spark |
| Apache Hadoop | 
| Scikit-learn |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [11]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hours = min/60
print(hours)

3.3333333333333335

<h2>Author</h2>
Suvrodeep Pal